/BorrowMe/BorrowMe-ejb/build/
/BorrowMe/BorrowMe-ejb/nbproject/private/
/BorrowMe/nbproject/private/
/BorrowMe/build/
/BorrowMe/dist/
/BorrowMe/BorrowMe-war/dist/
/BorrowMe/BorrowMe-war/nbproject/private/
/BorrowMe/BorrowMe-war/build/
/BorrowMe/BorrowMe-ejb/dist/