.ui-widget {
    font-size: small;
}

.ui-column-header {
    font-size: small;
}

.ui-column-title {
    font-size: small;
}

.ui-datatable {
    font-size: small;
}

.ui-datatable-header {
    font-size: small;
}

.ui-datatable-footer {
    font-size: small;
}

.ui-datatable-column {
    font-size: small;
}

.ui-sortable-column {
    font-size: small;
}

.ui-sortable-column-icon {
    font-size: small;
}

.ui-datatable-data {
    font-size: small;
}

div.ui-growl {
    right: 10;
    position:right;
}



* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS";
}

body {
    display: block;
    width: 99%;
    margin: 0.5% 0.5% 0.5% 0.5%;
}

p {
    padding: 5px 0px 5px 0px;
}

form {
    display: block;
}

table {
    display: block;
}

th, td {    
    padding: 3px 3px 3px 3px;
}

ul {
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: block;
    width: 100%;
    padding: 3px 3px 3px 3px;
    background-color: whitesmoke;
}

.mainmenu {
    display: block;
    width: 15%;
    margin: 0.5% 0% 0.5% 0%;
    padding: 3px 3px 3px 3px;
    float: left;
    background-color: whitesmoke;
}

.content {
    display: block;
    width: 82.5%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    padding: 3px 3px 3px 3px;
    float: right;
    border:0;
}

.footer {
    display: block;
    width: 100%;
    margin: 0.5% 0% 0% 0%;
    padding: 3px 3px 3px 3px;
    clear: both;
    background-color: whitesmoke;
}

.infoText {
    color: blue;
}

.errorText {
    color: red;
}

.infoTexts {
    margin-left: 20px;
    color: blue;
}

.errorTexts {
    margin-left: 20px;
    color: red;
}

.dataTable {
    border-style: solid;
    border-width: thin;
}

.motdTitle {
    background-color: grey;
    color: white;
    font-weight: bold;
}

.motdMessage {
    background-color: lightsteelblue;
}

.img{
    height: 100px;
    width:100px;
}

.centeredPanel{
    width:500px;
    height:500px;
    position:absolute;
    left:50%; 
    top:50%; 
    margin-left:-250px; 
    margin-top:-250px; 
}

.centeredMenuBar.ui-menubar {
    text-align: center;
}

.centeredMenuBar .ui-menu-list {
    display: inline-block;
}

.ui-menu-list {
    align-content: center;
    font-family: "Arial";
}

div.menu{
    text-align: center;
}
.menu div.ui-menubar {
    text-align: center;
}
.menu .ui-menu-list{
    width:100%;
    display: inline-flex;
}
div.menu>ul.ui-menu-list>li>a{
    width: 100%;
}
div.menu>ul.ui-menu-list>li{
    width: 100%;
}
.ui-menuitem-text{
    float: none!important;
}

